{% extends "homepage/base.html" %}

{% load static %}

{% block content %}
<!-- <div class="hero-wrap style3"> -->
<div>
    <div class="hero-slider-item style2 bg-f hero-bg-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-9 col-sm-8">
                    <div class="hero-content">
                        <span>GIỚI THIỆU VỀ GIA ĐÌNH ONG VÀNG </span>
                        <h1>Gia đình Ong vàng bao gồm bốn thành viên.</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="course-details-wrap ptb-100 bg-selago">
    <div class="container">
        <div class="row gx-5">
            <!-- <div class="col-xl-10 col-lg-22"> -->
            <div>
                <div class="course-details">
                    <h1>GIỚI THIỆU GIA ĐÌNH ONG VÀNG VUI VẺ</h1>
                    <div class="post-comment-wrap mb-0 review-box">
                        <div class="comment-item">
                            <div class="comment-author_img">
                                <img src="{% static 'img/index/client2.png' %}" alt="Image">
                            </div>
                            <div class="comment-author_text">
                                <div class="comment-author_info">
                                    <h3>CHỊ ONG HAM HỌC</h3>
                                    <div class="course-rating">
                                        <ul class="ratings list-style">
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <h5>Chị ong ham học là chị cả trong gia đình. Chị là một chú ong rất siêng năng và chăm học, luôn chia sẻ những bài học bổ ích giúp các bạn làm quen và biết cách đánh máy mười ngón.</h5>
                            </div>
                        </div>
                        <div class="comment-item">
                            <div class="comment-author_img">
                                <img src="{% static 'img/index/client1.png'%}" alt="Image">
                            </div>
                            <div class="comment-author_text">
                                <div class="comment-author_info">
                                    <h3>CẬU ONG CHĂM CHỈ</h3>
                                    <div class="course-rating">
                                        <ul class="ratings list-style">
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <h5>Cậu Ong Chăm Chỉ là cậu ba trong gia đình ong vàng. Cậu ấy luôn có niềm đam mê luyện tập nâng cao kĩ năng thực hành đánh máy mười ngón thông qua thử thách truy lùng kho báu.</h5>
                            </div>
                        </div>
                        <div class="comment-item">
                            <div class="comment-author_img">
                                <img src="{% static 'img/index/client3.png' %}" alt="Image">
                            </div>
                            <div class="comment-author_text">
                                <div class="comment-author_info">
                                    <h3>CHÚ ONG TÀI NĂNG</h3>
                                    <div class="course-rating">
                                        <ul class="ratings list-style">
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <h5>Chú Ong Tài Năng chính là chú út trong gia đình. Chú rất tài giỏi và luôn có khát vọng muốn chinh phục vị trí đầu bảng xếp hạng trong cuộc thi Thắng bại tại kỹ năng.</h5>
                            </div>
                        </div>
                        <div class="comment-item">
                            <div class="comment-author_img">
                                <img src="{% static 'img/index/client4.png' %}" alt="Image">
                            </div>
                            <div class="comment-author_text">
                                <div class="comment-author_info">
                                    <h3>CỤ ONG THÔNG THÁI</h3>
                                    <div class="course-rating">
                                        <ul class="ratings list-style">
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <h5>Thành viên kỳ cựu trong gia đình ong vàng đó chính là Cụ Ong Thông Thái. Ông là người ban tặng cho các bạn những món quà vô giá được đút kết từ các kinh nghiệm và tài liệu về kỹ năng đánh máy mười ngón hiệu quả.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}