{% extends "homepage/base.html" %}

{% load static %}

{% block content %}

<div class="">

    <div class="breadcrumb-wrap bg-f br-bg-4">
        <div class="overlay op-5 bg-white"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1">
                    <div class="breadcrumb-title">
                        <h2>Vui học cùng Ong Vàng</h2>
                        <ul class="breadcrumb-menu list-style">
                            <li><a href="{% url 'homepage:index' %}">Trang chủ </a></li>
                            <li><a href="{% url 'homepage:lesson' %}">Bài học</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <section class="course-wrap ptb-100"> -->
    <section class="course-wrap lesson">
        <div class="container">
            {% csrf_token %}

            <h2 class="text-center">{{topiclesson}} - {{lesson}}</h2>
            <div class="row justify-content-center">
                <!-- <div class="row"> -->
                {% for activity in activities %}
                <div class="col-xl-2-activity col-lg-6 col-md-6">
                    <a href="{% url 'homepage:activitydetail' topiclesson.pk lesson.pk activity.pk %}">
                        <div class="course-card style3">
                            <div class="course-img">
                                <img src="../../../{{activity.image}}" alt="Image">
                            </div>
                            <div class="course-info">
                                <h3 class="course-title">
                                    <!-- <a href="course-details.html">{{activity.description}}</a> -->
                                </h3>
                                <div class="text-center">
                                    <div class="course-category">
                                        <a href="{% url 'homepage:activitydetail' topiclesson.pk lesson.pk activity.pk %}"><h3 style="color:red">{{activity.name}}</h3></a>
                                    </div>
                                </div>
                                <ul class="ratings list-style" align="right">
                                    {% with ''|center:activity.stars as range %}
                                    {% for _ in range %}
                                        <li><i style="font-size: 25px; {% if activity.set_stars is False %} color: grey; {% endif %}" class="fa fa-star"></i></li>
                                    {% endfor %}
                                    {% endwith %}
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <section class="course-details-wrap ptb-50">
                <div class="container">
                    <div class="row gx-5">
                        <div class="col-xl-8 col-lg-12">
                            <div class="course-details">
                                <div class="course-description">
                                    <h3>Hướng dẫn học</h3>
                              <p>      Các bài học được thiết kế dựa trên năm hoạt động học: Khởi động, khám phá, làm quen, luyện tập và vận dụng. Với mục tiêu giúp các em thành thạo kĩ năng gõ phím 10 ngón. </p>
<p> Hoạt động 1: Giới thiệu (Khởi động) </p>
<p> Các em được xem video giới thiệu bài học và hướng dẫn cách đặt tay lên bàn phím khi gõ. </p>
<p> Hoạt động 2: Gõ phím (Khám phá) </p>
 <p>	Sau khi xem xong video hướng dẫn gõ phím, các em sẽ được trải nghiệm gõ từng phím thông qua từng màn chơi. </p>
<p> Hoạt động 3: Thử tài trí nhớ (Làm quen) </p>
 <p>	Ở hoạt động này, các em sẽ được thử thách trí nhớ cách đặt ngón tay ứng với từng phím qua những câu hỏi trắc nghiệm. </p>
 <p> Hoạt động 4: Giải mã bàn phím (Luyện tập) </p>
<p> Từ các hoạt động trước sẽ làm tiền đề giúp các em ghi nhớ vị trí các phím trên bàn phím. Ở hoạt động này, yêu cầu các em sắp xếp đúng vị trí các phím vào bàn phím rỗng. </p>
<p> Hoạt động 5: Vui gõ phím (Vận dụng) </p>
<p> Ở hoạt động cuối cùng, các em sẽ được luyện tập gõ phím thông qua các cụm từ. </p>

<h6 class="course-hightlight-text"> Lưu ý: Các em nên tham gia học theo thứ tự từng hoạt động đã được hệ thống sắp xếp. Ngoài ra, các em có thể tùy ý lựa chọn các hoạt động để học mà không cần theo thứ tự. </h6>
<h6 class="course-hightlight-text"> Sau khi hoàn thành mỗi hoạt động, các em sẽ được cộng 10 điểm kinh nghiệm. Các em tham gia đủ năm hoạt động ở bài học này thì sẽ được mở khóa cho bài học sau. </p>

</div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-12">
                            <div class="course-details-widget sidebar-box">
                                <h3 class="box-title">THÔNG TIN BÀI HỌC</h3>
                                <ul class="list-style">
                                    <li>
                                        <p><i class="las la-user-graduate"></i>Chủ đề:</p>
                                        <p>{{topiclesson.name}}</p>
                                    </li>
                                    <li>
                                        <p><i class="las la-university"></i>Bài học:</p>
                                        <p>{{lesson.name}}</p>
                                    </li>
                                    <li>
                                        <p><i class="las la-graduation-cap"></i>Tiến độ:</p>
                                        <p>{{lesson.percent}}%</p>
                                    </li>
                                    <!-- <li>
                                        <p><i class="las la-book-open"></i>Semister</p>
                                        <p>Fall-20</p>
                                    </li>
                                    <li>
                                        <p><i class="lar la-bookmark"></i>Credit</p>
                                        <p>40</p>
                                    </li>
                                    <li>
                                        <p><i class="las la-globe-americas"></i>Course Fee</p>
                                        <p>$1200</p>
                                    </li> -->
                                </ul>
                                <!-- <button class="btn style7 d-block w-100 mt-25">Enroll Now</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>

</div>

{% endblock %}